<h2 class="user-profile">Welcome back, <%=current_user.username%></h2>

<h3 class="user-questions-header"></h3>

</div>
<a href="https://lowpowerlab.com/forum/projects/moteino-coffee-maker/">Coffee Hack</a>