<h1 id="main_header">Good Morning<%=user.name%></h1>
<h1> Have you had your coffee?</h1>

<div class="floating-box">
	<li>
		<ul>Are they awake?</ul>
		<ul>How many meows so far?</ul>
		<ul>Release the treats!</ul>
		<button id="treat-call" type="button" >Treats!</button>
		<!-- onclick="alert('Treats have been released!')" -->
	</li>
		
</div>